.principal{
    background-color: hsl(0, 0%, 98%);
    position: relative;
    padding-left: 210px;
    padding-right: 55%;
    padding-top: 10%;
    text-align: left;
    height: 500px;
}



.principalText{
    color: #2d314d;
    font-size: 47px;
}