#logo {
    width: 210px;
    height: 35px;
    background-color: white;
    border-radius: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: white;
    border-radius: 50px;
}