.links{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 60px;
}

.linka{
    color: hsl(0, 0%, 100%);
    margin-top: 10px;
}

.linka:link, .linka:visited {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    cursor: pointer;
}

.linka:hover {
    color: hsl(136, 65%, 51%);
}

@media only screen and (max-width: 1255px){
    .links{
        margin:0;
        width: 200px;
        text-align: center;
    }
}