.latestArt {
    background-color: hsl(0, 0%, 98%);
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
}

.articles {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    text-align: center
}

.tittleTextArt {
    color: #2d314d;
    text-align: left;
}

.latestTittle {
    font-weight: 400;
    margin-top: 55px;
}

@media only screen and (max-width: 1255px) {
    .latestArt {
        background-color: hsl(0, 0%, 98%);
        margin-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
    .articles {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .latestTittle {
        text-align: center;
    }
}